session-3/node-red/flow-microservices.json
[
    {
        "id": "flow-microservices",
        "type": "tab",
        "label": "Microservices IoT",
        "disabled": false,
        "info": "Architecture microservices IoT avec MQTT et AMQP via RabbitMQ"
    },
    {
        "id": "mqtt-broker-config",
        "type": "mqtt-broker",
        "name": "RabbitMQ MQTT",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "credentials": {
            "user": "guest",
            "password": "guest"
        },
        "z": "flow-microservices"
    },
    {
        "id": "amqp-config",
        "type": "amqp-server",
        "name": "RabbitMQ AMQP",
        "host": "localhost",
        "port": "5672",
        "vhost": "/",
        "keepAlive": false,
        "useTls": false,
        "credentials": {
            "user": "guest",
            "password": "guest"
        },
        "z": "flow-microservices"
    },
    {
        "id": "inject-capteurs",
        "type": "inject",
        "z": "flow-microservices",
        "name": "Toutes les 2-3s",
        "props": [
            { "p": "payload" }
        ],
        "repeat": "2.5",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 80,
        "wires": [["function-capteurs"]]
    },
    {
        "id": "function-capteurs",
        "type": "function",
        "z": "flow-microservices",
        "name": "Generer donnees capteur",
        "func": "// Pieces de la maison\nconst pieces = ['salon', 'cuisine', 'chambre', 'entree'];\nconst types = ['temperature', 'humidite', 'mouvement', 'fumee'];\n\n// Choix aleatoire\nconst piece = pieces[Math.floor(Math.random() * pieces.length)];\nconst type = types[Math.floor(Math.random() * types.length)];\n\n// Generation de la valeur\nlet valeur;\nif (type === 'temperature') {\n    valeur = Math.random() < 0.05 ? 999 : Math.round((Math.random() * 25 + 15) * 10) / 10;\n} else if (type === 'humidite') {\n    valeur = Math.round((Math.random() * 50 + 30) * 10) / 10;\n} else if (type === 'mouvement') {\n    valeur = Math.random() < 0.5;\n} else if (type === 'fumee') {\n    valeur = Math.random() < 0.05 ? Math.round((Math.random() * 5 + 95) * 10) / 10 : Math.round(Math.random() * 100 * 10) / 10;\n}\n\n// Construire le message\nmsg.topic = `maison/${piece}/${type}`;\nmsg.payload = JSON.stringify({\n    sensor: type,\n    value: valeur,\n    room: piece,\n    timestamp: new Date().toISOString()\n});\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 80,
        "wires": [["mqtt-out-capteurs", "debug-capteurs"]]
    },
    {
        "id": "mqtt-out-capteurs",
        "type": "mqtt out",
        "z": "flow-microservices",
        "name": "MQTT Publish",
        "topic": "",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt-broker-config",
        "x": 590,
        "y": 60,
        "wires": []
    },
    {
        "id": "debug-capteurs",
        "type": "debug",
        "z": "flow-microservices",
        "name": "Log Capteurs",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "topic",
        "statusType": "msg",
        "x": 590,
        "y": 100,
        "wires": []
    },
    {
        "id": "comment-capteurs",
        "type": "comment",
        "z": "flow-microservices",
        "name": "--- SERVICE CAPTEURS (MQTT Publisher) ---",
        "info": "Ce groupe simule des capteurs IoT et publie les donnees via MQTT",
        "x": 240,
        "y": 40,
        "wires": []
    },
    {
        "id": "amqp-in-validation",
        "type": "amqp-in",
        "z": "flow-microservices",
        "name": "AMQP amq.topic maison.#",
        "iotype": "3",
        "ioname": "amq.topic",
        "iodurable": true,
        "ioautodelete": false,
        "ioexclusive": false,
        "ioroutingkey": "maison.#",
        "amqpProperties": "[]",
        "server": "amqp-config",
        "x": 170,
        "y": 240,
        "wires": [["function-validation"]]
    },
    {
        "id": "function-validation",
        "type": "function",
        "z": "flow-microservices",
        "name": "Valider donnees",
        "func": "let donnees;\ntry {\n    donnees = JSON.parse(msg.payload);\n} catch(e) {\n    msg.payload = '[INVALIDE] Message non-JSON';\n    return [null, msg];\n}\n\nconst type = donnees.sensor;\nconst valeur = donnees.value;\nconst piece = donnees.room;\n\n// Plages valides\nconst plages = {\n    temperature: { min: -20, max: 60 },\n    humidite: { min: 0, max: 100 },\n    fumee: { min: 0, max: 100 }\n};\n\nlet valide = false;\nlet raison = '';\n\nif (type === 'mouvement') {\n    valide = typeof valeur === 'boolean';\n    if (!valide) raison = 'doit etre un booleen';\n} else if (plages[type]) {\n    valide = valeur >= plages[type].min && valeur <= plages[type].max;\n    if (!valide) raison = `hors plage ${plages[type].min} a ${plages[type].max}`;\n} else {\n    raison = 'type inconnu';\n}\n\nif (valide) {\n    // Sortie 1 : message valide, garder le routing key\n    msg.routingKey = msg.topic ? msg.topic.replace(/\\//g, '.') : '';\n    msg.payload = JSON.stringify(donnees);\n    return [msg, null];\n} else {\n    // Sortie 2 : message invalide\n    msg.payload = `[INVALIDE] ${type} ${piece}: ${valeur} (${raison})`;\n    return [null, msg];\n}",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 240,
        "wires": [["amqp-out-validated"], ["debug-invalide"]]
    },
    {
        "id": "amqp-out-validated",
        "type": "amqp-out",
        "z": "flow-microservices",
        "name": "AMQP Exchange validated",
        "iotype": "1",
        "ioname": "validated",
        "iodurable": false,
        "ioautodelete": false,
        "ioexclusive": false,
        "ioroutingkey": "",
        "amqpProperties": "[]",
        "server": "amqp-config",
        "x": 660,
        "y": 220,
        "wires": []
    },
    {
        "id": "debug-invalide",
        "type": "debug",
        "z": "flow-microservices",
        "name": "Log Invalide",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 260,
        "wires": []
    },
    {
        "id": "comment-validation",
        "type": "comment",
        "z": "flow-microservices",
        "name": "--- SERVICE VALIDATION (AMQP Consumer + Publisher) ---",
        "info": "Ce groupe valide les donnees et les transmet ou les rejette",
        "x": 280,
        "y": 200,
        "wires": []
    },
    {
        "id": "amqp-in-alertes",
        "type": "amqp-in",
        "z": "flow-microservices",
        "name": "AMQP validated maison.#",
        "iotype": "3",
        "ioname": "validated",
        "iodurable": false,
        "ioautodelete": false,
        "ioexclusive": false,
        "ioroutingkey": "maison.#",
        "amqpProperties": "[]",
        "server": "amqp-config",
        "x": 170,
        "y": 400,
        "wires": [["function-alertes"]]
    },
    {
        "id": "function-alertes",
        "type": "function",
        "z": "flow-microservices",
        "name": "Detecter alertes",
        "func": "let donnees;\ntry {\n    donnees = JSON.parse(msg.payload);\n} catch(e) {\n    return null;\n}\n\nconst type = donnees.sensor;\nconst valeur = donnees.value;\nconst piece = donnees.room || 'inconnue';\n\nlet niveau = null;\nlet texte = '';\n\nif (type === 'temperature') {\n    if (valeur > 50) { niveau = 'CRITICAL'; texte = `Temperature ${piece}: ${valeur}°C`; }\n    else if (valeur > 35) { niveau = 'WARNING'; texte = `Temperature ${piece}: ${valeur}°C`; }\n} else if (type === 'fumee') {\n    if (valeur > 70) { niveau = 'CRITICAL'; texte = `Fumee ${piece}: ${valeur}/100`; }\n    else if (valeur > 40) { niveau = 'WARNING'; texte = `Fumee ${piece}: ${valeur}/100`; }\n} else if (type === 'mouvement') {\n    if (valeur === true) { niveau = 'INFO'; texte = `Mouvement detecte: ${piece}`; }\n}\n\nif (niveau) {\n    const pad = niveau === 'CRITICAL' ? '' : niveau === 'WARNING' ? ' ' : '    ';\n    msg.payload = `[${niveau}]${pad} ${texte}`;\n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 400,
        "wires": [["debug-alertes"]]
    },
    {
        "id": "debug-alertes",
        "type": "debug",
        "z": "flow-microservices",
        "name": "Alertes",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "msg",
        "x": 600,
        "y": 400,
        "wires": []
    },
    {
        "id": "comment-alertes",
        "type": "comment",
        "z": "flow-microservices",
        "name": "--- SERVICE ALERTES (AMQP Consumer) ---",
        "info": "Ce groupe detecte les seuils critiques et affiche les alertes",
        "x": 240,
        "y": 360,
        "wires": []
    }
]
