session-2/node-red/flow-topic-exchange.json
[
    {
        "id": "flow-topic-exchange",
        "type": "tab",
        "label": "Topic Exchange Domotique",
        "disabled": false,
        "info": "Flow de demonstration du Topic Exchange avec RabbitMQ"
    },
    {
        "id": "inject-capteurs",
        "type": "inject",
        "z": "flow-topic-exchange",
        "name": "Toutes les 3s",
        "props": [],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 100,
        "wires": [
            ["function-capteurs"]
        ]
    },
    {
        "id": "function-capteurs",
        "type": "function",
        "z": "flow-topic-exchange",
        "name": "Generer donnees capteurs",
        "func": "// Compteur pour alterner entre les capteurs\nvar count = context.get('count') || 0;\n\nvar capteurs = [\n    {\n        routingKey: 'maison.salon.temperature',\n        sensor: 'thermometre',\n        room: 'salon',\n        value: +(Math.random() * (35 - 15) + 15).toFixed(1)\n    },\n    {\n        routingKey: 'maison.entree.mouvement',\n        sensor: 'detecteur_mouvement',\n        room: 'entree',\n        value: Math.random() > 0.5\n    },\n    {\n        routingKey: 'maison.cuisine.fumee',\n        sensor: 'detecteur_fumee',\n        room: 'cuisine',\n        value: Math.floor(Math.random() * 101)\n    }\n];\n\nvar capteur = capteurs[count % capteurs.length];\n\nmsg.routingKey = capteur.routingKey;\nmsg.payload = {\n    sensor: capteur.sensor,\n    room: capteur.room,\n    value: capteur.value,\n    timestamp: new Date().toISOString()\n};\n\ncontext.set('count', count + 1);\n\nnode.status({text: capteur.routingKey + ': ' + capteur.value});\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 100,
        "wires": [
            ["amqp-out-domotique", "debug-producer"]
        ]
    },
    {
        "id": "amqp-out-domotique",
        "type": "amqp-out",
        "z": "flow-topic-exchange",
        "name": "Exchange domotique (topic)",
        "broker": "broker-rabbitmq",
        "exchangeName": "domotique",
        "exchangeType": "topic",
        "exchangeRoutingKey": "",
        "exchangeRoutingKeyType": "msg",
        "exchangeDurable": false,
        "amqpProperties": "{ \"headers\": {} }",
        "outputs": 0,
        "x": 650,
        "y": 100,
        "wires": []
    },
    {
        "id": "debug-producer",
        "type": "debug",
        "z": "flow-topic-exchange",
        "name": "Log Producer",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 160,
        "wires": []
    },
    {
        "id": "amqp-in-alertes",
        "type": "amqp-in",
        "z": "flow-topic-exchange",
        "name": "Alertes (maison.*.fumee)",
        "broker": "broker-rabbitmq",
        "exchangeName": "domotique",
        "exchangeType": "topic",
        "noAck": true,
        "exchangeRoutingKey": "maison.*.fumee",
        "exchangeDurable": false,
        "queueName": "",
        "queueExclusive": true,
        "queueDurable": false,
        "queueAutoDelete": true,
        "x": 180,
        "y": 300,
        "wires": [
            ["debug-alertes"]
        ]
    },
    {
        "id": "debug-alertes",
        "type": "debug",
        "z": "flow-topic-exchange",
        "name": "Debug Alertes",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 430,
        "y": 300,
        "wires": []
    },
    {
        "id": "amqp-in-monitoring",
        "type": "amqp-in",
        "z": "flow-topic-exchange",
        "name": "Monitoring (maison.#)",
        "broker": "broker-rabbitmq",
        "exchangeName": "domotique",
        "exchangeType": "topic",
        "noAck": true,
        "exchangeRoutingKey": "maison.#",
        "exchangeDurable": false,
        "queueName": "",
        "queueExclusive": true,
        "queueDurable": false,
        "queueAutoDelete": true,
        "x": 180,
        "y": 380,
        "wires": [
            ["debug-monitoring"]
        ]
    },
    {
        "id": "debug-monitoring",
        "type": "debug",
        "z": "flow-topic-exchange",
        "name": "Debug Monitoring",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 450,
        "y": 380,
        "wires": []
    },
    {
        "id": "amqp-in-salon",
        "type": "amqp-in",
        "z": "flow-topic-exchange",
        "name": "Salon (maison.salon.*)",
        "broker": "broker-rabbitmq",
        "exchangeName": "domotique",
        "exchangeType": "topic",
        "noAck": true,
        "exchangeRoutingKey": "maison.salon.*",
        "exchangeDurable": false,
        "queueName": "",
        "queueExclusive": true,
        "queueDurable": false,
        "queueAutoDelete": true,
        "x": 180,
        "y": 460,
        "wires": [
            ["debug-salon"]
        ]
    },
    {
        "id": "debug-salon",
        "type": "debug",
        "z": "flow-topic-exchange",
        "name": "Debug Salon",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 420,
        "y": 460,
        "wires": []
    },
    {
        "id": "broker-rabbitmq",
        "type": "amqp-broker",
        "name": "RabbitMQ Local",
        "host": "localhost",
        "port": "5672",
        "tls": false,
        "credsFromSettings": false,
        "vhost": "/",
        "keepAlive": true,
        "useca": false
    }
]
